nav {
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    align-items: center;
}

ul, li {
    display: inline-block;
}

a {
    text-decoration: none;
    margin-left: 16px;
}

.image_logo{
    width: 30%;
    
}

@media(max-width: 600px){
    .lista_menu {
        display: none;
    }
}
